<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container-fluid mw-10 flex-row align-right">
      <a href="#" routerLink="/" class="navbar-brand float-right " role="button">Welcome User</a>
      <button class="navbar-toggler" type="button"
              data-toggle="collapse" data-target="#navbarMain">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMain">


        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#"  class="nav-link">Companies</a>
          </li>
          <li class="nav-item">
            <a href="#" routerLink="/login" class="nav-link">Logout</a>
          </li>
          <li class="nav-item">
            <a href="#"  class="nav-link">profile</a>
          </li>
        </ul>
        <ul class="navbar-nav mr-5">

        </ul>

      </div>

    </div>

  </nav>
</header>



